@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-sushiMain;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    background-color: #050303;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
