@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-sushiMain;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    background-color: #050303;
    max-width: 2300px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@keyframes sushi-roll {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

.sushi {
  display: inline-block;
  animation: sushi-roll 1.2s forwards;
  animation-delay: 0.25s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade {
  animation: fade 1.7s forwards;
}
